@import "colores";
@import "fuentes";
$colorletra: $negro1;

.contenido3 {
    padding: 5px;
    grid-area: conte3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 10px 350px;
    // position: relative;
    // top: 50px;
    .telefono{
        margin: 5px;
        position: relative;
        // display: inline-block;
        width: 340px;
        height: 519px;
        top: -130px;
    }
    .parrafoc3{
        h2{
            margin: 15px;
            width: 288px;
            height: 84px;
            letter-spacing: 0;
            line-height: 42px;
            @include fuente(IBM Plex Sans,36px,$colorletra);

        }
        p{
            margin: auto;
            width: 288px;
            height: 254px;
            text-align: justify;
            letter-spacing: 0;
            line-height: 22px;
            @include fuente(IBMPlexMono,14px,$colorletra);

        }
    }
}

@media screen and (min-width: 768px){
    .contenido3 {
        margin: 0 0 0 200px;
        padding: 5px;
        grid-area: conte3;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px;

        .telefono{
            position: relative;
            width: 457,6px;
            height: 560px;
            top: -180px;
        }
        .parrafoc3{
            h2{
                width: 399px;
                height: 62px;
                letter-spacing: 0;
                line-height: 42px;
                @include fuente(IBM Plex Sans,36px,$colorletra);
 
            }
            p{
                width: 424px;
                height: 204px;
                text-align: justify;
                letter-spacing: 0;
                line-height: 22px;
                @include fuente(IBMPlexMono,14px,$colorletra);
    
            }
        }
    }

}