@import "colores";
@import "fuentes";
$colorletrat: $blanco;
$colorletra: $negro1;

.novedad {
    margin: 5px;
    padding: 5px;
    grid-area: nove;
    position: relative;
    height: 270px;
    background-image: linear-gradient($azul1g,$azul2g);
    clip-path: polygon(
      0% 15%,
      100% 0%,
      100% 100%,
      0 calc(100% - 0vw)
    );
    h2{
        margin-top: 24px;
        width: 288px;
        height: 26px;
        padding: 2px;
        text-align: center;
        // top: 50px;
        letter-spacing: 0;
        line-height: 42px;
        @include fuente(IBM Plex Sans,36px,$colorletrat);
    }
    button{
        margin-top: 110px;
        margin-left: auto;
        margin-right: auto;
        padding: 1px;
        display: block;
        background: $verdeclaro;
        width: 288px;
        height: 48px;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        @include fuente(IBMPlexMono-Medium,18px,$colorletra);
    }
    button:hover{
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }
}

@media screen and (min-width: 768px){
    .novedad {
        margin: 1px;
        padding: 5px;
        grid-area: nove;
        position: relative;
        height: 280px;
        background-image: linear-gradient($azul1g,$azul2g);
        clip-path: polygon(
          0% 15%,
          100% 0%,
          100% 100%,
          0 calc(100% - 0vw)
        );
        h2{
            margin-top: 34px;
            margin-left: auto;
            margin-right: auto;
            width: 692px;
            height: 62px;
            text-align: center;
            // top: 50px;
            letter-spacing: 0;
            line-height: 62px;
            @include fuente(IBM Plex Sans,48px,$colorletrat);
        }
        button{
            margin-left: auto;
            margin-right: auto;
            display: block;
            background: $verdeclaro;
            width: 345px;
            height: 56px;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            @include fuente(IBMPlexMono-Medium,18px,$colorletra);
        }
        button:hover{
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        }
    }

}