@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&display=swap");
.cabeza {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cab;
  background: white;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr 1fr;
  height: 70px;
}

.logo {
  padding: 10px;
  -ms-grid-column-align: start;
      justify-self: start;
}

nav {
  margin-right: 20px;
  padding: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
}

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  font-family: IBMPlexMono;
  font-size: 16px;
  color: white;
  letter-spacing: 0;
  line-height: 28px;
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: yellow;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

header nav .menu ul li {
  position: relative;
}

header nav .menu ul li:hover {
  background: yellow;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
}

header nav .menu ul li a:hover {
  font-family: IBMPlexMono-Medium;
  font-size: 16px;
  color: #00F3BB;
  text-decoration: line-through;
}

header nav .menu ul li a:active {
  font-family: IBMPlexMono-Medium;
  font-size: 16px;
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

/*animación del menu que se desplega*/
header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

header nav .menu {
  padding-top: 3px;
}

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0%;
  z-index: 2;
  position: absolute;
}

/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*movimiento a cruz*/
header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

@media screen and (min-width: 768px) {
  .cabeza {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cab;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 1fr 1fr;
  }
  .logo {
    padding: 10px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  nav {
    padding: 10px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  header nav .menu ul {
    font-family: IBMPlexMono;
    font-size: 16px;
    color: #060A24;
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  header nav .menu ul li {
    padding: 5px 10px;
    display: inline-block;
  }
  header nav .menu ul li:hover {
    background: unset;
    font-family: IBMPlexMono-Medium;
    font-size: 16px;
    color: #00F3BB;
    text-decoration: line-through;
    letter-spacing: 0;
    line-height: 28px;
  }
  header nav .menu ul li:active {
    background: unset;
    font-family: IBMPlexMono;
    font-size: 16px;
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
    letter-spacing: 0;
    line-height: 28px;
  }
  header nav .menu ul li a {
    padding: unset;
    color: #060A24;
    line-height: unset;
  }
  header nav .menu ul li a:hover {
    color: unset;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
}

.contenido {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: conte1;
  padding: 10px;
}

.contenido h1 {
  width: 320px;
  height: 42px;
  padding: 1px;
  line-height: 42px;
  letter-spacing: 0;
  font-family: IBM Plex Mono;
  font-size: 36px;
  color: #060A24;
}

.contenido h1 .palabra {
  text-decoration: line-through;
}

.contenido h1 .punto {
  color: yellow;
}

.contenido p {
  margin-top: 50px;
  width: 288px;
  height: 66px;
  line-height: 22px;
  letter-spacing: 0px;
  font-family: IBM Plex Mono;
  font-size: 14px;
  color: #060A24;
}

.contenido button {
  padding: 2px;
  display: block;
  background: #00F3BB;
  margin: auto;
  width: 288px;
  height: 48;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  color: #060A24;
}

.contenido button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

@media screen and (min-width: 768px) {
  .contenido {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: conte1;
    margin: 0 0 0 200px;
    padding: 2px;
  }
  .contenido h1 {
    width: 1050px;
    height: 48px;
    padding: 2px;
    line-height: 84px;
    letter-spacing: 0px;
    font-family: IBM Plex Mono;
    font-size: 64px;
    color: #060A24;
  }
  .contenido h1 .palabra {
    text-decoration: line-through;
  }
  .contenido h1 .punto {
    color: yellow;
  }
  .contenido p {
    width: 628px;
    height: 48px;
    padding: 10px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: IBM Plex Mono;
    font-size: 16px;
    color: #060A24;
  }
  .contenido button {
    padding: 2px;
    display: block;
    background: #00F3BB;
    width: 226px;
    height: 56;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    font-family: IBMPlexMono-Medium;
    font-size: 18px;
    color: #060A24;
  }
  .contenido button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
}

.contenido2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: conte2;
  position: relative;
  height: 1300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-clip-path: polygon(0% 3%, 100% 0, 100% 90%, 0 calc(100% - 5vw));
          clip-path: polygon(0% 3%, 100% 0, 100% 90%, 0 calc(100% - 5vw));
}

.contenido2 h1 {
  margin: 25px;
  padding: 10px;
  line-height: 42px;
  font-family: IBMPlexSans;
  font-size: 36px;
  color: white;
}

.contenido2 iframe {
  display: block;
  margin: auto;
  width: 298px;
  height: 255px;
  border: none;
}

@media screen and (min-width: 768px) {
  .contenido2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: conte2;
    height: 900px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background-image: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0% 10%, 100% 0, 100% 90%, 0 calc(100% - 5vw));
            clip-path: polygon(0% 10%, 100% 0, 100% 90%, 0 calc(100% - 5vw));
  }
  .contenido2 h1 {
    margin: 100px 0 0 200px;
    width: 209px;
    height: 62px;
    padding: 10px;
    line-height: 42px;
    font-family: IBMPlexSans;
    font-size: 48px;
    color: white;
  }
  .contenido2 .video {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .contenido2 .video iframe {
    width: 564px;
    height: 232px;
    border: none;
  }
}

.contenido3 {
  padding: 5px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: conte3;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 400px 10px 350px;
}

.contenido3 .telefono {
  margin: 5px;
  position: relative;
  width: 340px;
  height: 519px;
  top: -130px;
}

.contenido3 .parrafoc3 h1 {
  margin: 15px;
  width: 288px;
  height: 84px;
  letter-spacing: 0;
  line-height: 42px;
  font-family: IBMPlexSans;
  font-size: 36px;
  color: #060A24;
}

.contenido3 .parrafoc3 article {
  margin: auto;
  width: 288px;
  height: 254px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 22px;
  font-family: IBMPlexMono;
  font-size: 14px;
  color: #060A24;
}

@media screen and (min-width: 768px) {
  .contenido3 {
    margin: 0 0 0 200px;
    padding: 5px;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: conte3;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px;
  }
  .contenido3 .telefono {
    position: relative;
    width: 457,6px;
    height: 560px;
    top: -180px;
  }
  .contenido3 .parrafoc3 h1 {
    width: 399px;
    height: 62px;
    letter-spacing: 0;
    line-height: 42px;
    font-family: IBMPlexSans;
    font-size: 36px;
    color: #060A24;
  }
  .contenido3 .parrafoc3 article {
    width: 424px;
    height: 204px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22px;
    font-family: IBMPlexMono;
    font-size: 14px;
    color: #060A24;
  }
}

.gimagenes {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: imag;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6 1fr);
}

.gimagenes h1 {
  margin: 50px 0 0 20px;
  letter-spacing: 0;
  line-height: 42px;
  font-family: IBMPlexSans;
  font-size: 36px;
  color: #060A24;
}

.gimagenes img {
  width: 320px;
  height: 243px;
  margin: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .gimagenes {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: imag;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40px 1fr 1fr;
  }
  .gimagenes h1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    margin: 0 0 0 200px;
    letter-spacing: 0;
    line-height: 42px;
    font-family: IBMPlexSans;
    font-size: 36px;
    color: #060A24;
  }
  .gimagenes img {
    width: 445px;
    height: 364px;
  }
}

.temas {
  margin: 10px;
  padding: 5px;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: tema;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4 1fr);
  gap: 10px;
}

.temas h1 {
  letter-spacing: 0;
  line-height: 42px;
  font-family: IBMPlexSans;
  font-size: 36px;
  color: #060A24;
}

.temas img {
  width: 104px;
  height: 104px;
  margin: auto;
  display: block;
}

.temas p {
  padding: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  font-family: IBMPlexSans-SemiBold;
  font-size: 24px;
  color: #060A24;
}

@media screen and (min-width: 768px) {
  .temas {
    margin: 10px;
    padding: 5px;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: tema;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr;
  }
  .temas h1 {
    margin: 0 0 0 200px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    letter-spacing: 0;
    line-height: 42px;
    font-family: IBMPlexSans;
    font-size: 36px;
    color: #060A24;
  }
  .temas img {
    width: 104px;
    height: 104px;
    margin: auto;
    display: block;
  }
  .temas p {
    padding: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    font-family: IBMPlexSans-SemiBold;
    font-size: 24px;
    color: #060A24;
  }
}

.novedad {
  margin: 5px;
  padding: 5px;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: nove;
  position: relative;
  height: 270px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 calc(100% - 0vw));
          clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 calc(100% - 0vw));
}

.novedad h1 {
  margin-top: 24px;
  width: 288px;
  height: 26px;
  padding: 2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 42px;
  font-family: IBMPlexSans;
  font-size: 36px;
  color: white;
}

.novedad button {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  display: block;
  background: #00F3BB;
  width: 288px;
  height: 48px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  font-family: IBMPlexMono-Medium;
  font-size: 18px;
  color: #060A24;
}

.novedad button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

@media screen and (min-width: 768px) {
  .novedad {
    margin: 1px;
    padding: 5px;
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: nove;
    position: relative;
    height: 280px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background-image: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 calc(100% - 0vw));
            clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 calc(100% - 0vw));
  }
  .novedad h1 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    width: 692px;
    height: 62px;
    text-align: center;
    letter-spacing: 0;
    line-height: 62px;
    font-family: IBMPlexSans;
    font-size: 48px;
    color: white;
  }
  .novedad button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #00F3BB;
    width: 345px;
    height: 56px;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    font-family: IBMPlexMono-Medium;
    font-size: 18px;
    color: #060A24;
  }
  .novedad button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
}

.pie {
  margin: 5px;
  padding: 5px;
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: piee;
}

.pie h1 {
  margin: 20px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  font-family: IBMPlexMono;
  font-size: 14px;
  color: black;
}

.pie .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.pie .social li {
  margin: 5px;
  padding: 5px;
}

.pie .social li i {
  color: #060A24;
}

@media screen and (min-width: 768px) {
  .pie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pie h1 {
    margin: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    font-family: IBMPlexMono;
    font-size: 16px;
    color: black;
  }
  .pie .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
  }
  .pie .social li {
    margin: 30px;
  }
  .pie .social li i {
    color: #060A24;
  }
}

* {
  margin: 0;
  padding: 0;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  font-family: sans-serif;
  grid-gap: 5px;
      grid-template-areas: "cab" "conte1" "conte2" "conte3" "imag" "tema" "nove" "piee";
}
/*# sourceMappingURL=estilo.css.map */